<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
        <link rel="stylesheet" href="style.css"/>

        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
        <script src="RendezvousUsers.js"></script>
        <script src="loginHandler.js"></script>
        <script src="User.js"></script>
        <script src="Map.js"></script>
    </head>
		
	<body>
        <div data-role="page" id="main">
            <div data-role="header" id="header">
                <h1>Rendezvous</h1>
            </div>

            <div id="map" data-role="content">
            </div>
        </div>
		
		<script>
            $(document).ready(function()
            {
                //Create a new map
                var m = new Map();
                setTimeout(function(){console.log(m.getUser()) }, 3000);
            });

		</script>
	</body>
</html>